<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
   
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
    
    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>
    
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
    
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css">
    
    <!-- See https://github.com/firebase/firebaseui-web. -->
    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "{{ firebaseConfig['apiKey'] }}",
      authDomain: "{{ firebaseConfig['authDomain'] }}",
      databaseURL: "{{ firebaseConfig['databaseURL'] }}",
      projectId: "{{ firebaseConfig['projectId'] }}",
      storageBucket: "{{ firebaseConfig['storageBucket'] }}",
      messagingSenderId: "{{ firebaseConfig['messagingSenderId'] }}",
      appId: "{{ firebaseConfig['appId'] }}",
      measurementId: "{{ firebaseConfig['measurementId'] }}"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>
    
    <script>
    if (typeof firebase === 'undefined') {
      const msg = "Please paste the Firebase initialization snippet into index.html. See https://console.firebase.google.com > Overview > Add Firebase to your web app.";
      console.log(msg);
      alert(msg);
    }
    </script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}" charset="utf-8"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script/tableHelp.js') }}" charset="utf-8"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/sports">Sports</a></li>
            <li role="presentation"><a href="/finance">Finance</a></li>
            <li role="presentation"><a href="/robotics">Robotics</a></li>
            <li role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
      {% block body %}
      {% endblock %}
      <footer class="footer">
        <p>© 2020 Evan Flynn</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
