<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    
    <script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}" charset="utf-8"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script/tableHelp.js') }}" charset="utf-8"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/sports">Sports</a></li>
            <li role="presentation"><a href="/finance">Finance</a></li>
            <li role="presentation"><a href="/robotics">Robotics</a></li>
            <li role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
      {% block body %}
      {% endblock %}
      <footer class="footer">
        <p>© 2020 Evan Flynn</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
