{% extends 'level.html' %}
{% block sportBody %}
<style>
#table_title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

#boxScore {
  margin: auto;
  padding: 8px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
</style>
<div class="mdl-grid">
  {%for team in boxScore['teams'] %}
  <div id="boxScore" class="mdl-cell mdl-cell--6-col-tablet mdl-cell--10-col-desktop mdl-cell--stretch">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>        
          {%for metaTeam in boxScore['meta']['teams'] %}
          {%if team['teamId']|int() == metaTeam['id']|int() %}
          <th id="table_title" colspan="{{ team['playerHeader']|length }}">{{ boxScore['meta']['teams'][loop.index - 1]['shortName'] }}</th>
          {%endif%}
          {%endfor%}
        <tr>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">First Name</th>
          <th class="mdl-data-table__cell--non-numeric">Last Name</th>
          {%for colHeader in team['playerHeader'] %}
          <th>{{ team['playerHeader'][colHeader] }}</th>
          {%endfor%}
        </tr>
    </thead>
    <tbody>
      {%for playerStats in team['playerStats'] %}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">{{ playerStats['firstName'] }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ playerStats['lastName'] }}</td>
        {%for colHeader in team['playerHeader'] %}
        <td>{{ playerStats[colHeader] }} </td>
        {%endfor%}
      </tr>
      {%endfor%}
      <tr>
        <td></td>
        <td>Team Totals</td>
        {%for colHeader in team['playerHeader'] %}
        <td>{{ team['playerTotals'][colHeader] }}</td>
        {%endfor%}
      </tr> 
    </tbody>
  </table>
  </div>
  {%endfor%}
</div>
{% endblock %}
