{% extends "college.html" %}

{% block collegeBody %}
<div>
  <div class="container">
    <input type="text" id="searchInput" onkeyup="searchTable()" plaseholder="Search...">
    <table id="scoreboard" style="width:100%">
      <thead>
          <tr>
              <th>{{ homeTeam }}</th>
              <th>{{ awayTeam }}</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ homeScore }}</td>
          <td>{{ awayScore }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
