{% extends "college.html" %}

{% block collegeBody %}
<div>
  <div class="container">
    <input type="text" id="searchInput" onkeyup="searchTable()" plaseholder="Search...">
    <table id="todays_games" style="width:100%">
      <thead>
          <tr>
              <th>Home Team</th>
              <th>Away Team</th>
              <th>Start Time</th>
          </tr>
      </thead>
      <tbody>
        {% for game in listOfGames %}
        <tr>
          <td>{{ listOfGames[game][0] }}</td>
          <td>{{ listOfGames[game][1] }}</td>
          <td>{{ listOfGames[game][2] }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Home Team</th>
          <th>Away Team</th>
          <th>Start Time</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %}
