{% extends "base.html" %}
{% block title %}Finance{% endblock %}
{% block body %}
<div>
  <style>
    #baseNav .{{ baseTopic }} {
      background-color: #f1f1f1;
    }
  </style>
  <h2>Finance</h2>
  <div class="container">
    <div class="header clearfix">
     <nav id="finance">
       <ul class="nav nav-pills pull-left">
         {%for topic in financeTopics %}
         <li class="{{ level }}" role="presentation"><a href="/finance/{{ topic }}">{{ financeTopics[topic] }}</a></li>
         {%endfor%}
       </ul>
     </nav>
    </div>
  </div>
  {% block financeBody %} {% endblock%}
</div>
{% endblock %}
