{% extends 'level.html' %}
{% block sportBody %}
<style>
#table_title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

#boxScore {
  margin: auto;
  padding: 8px;
}
</style>
<div class="mdl-grid">
  {%for table in boxScore['tables'] %}
  <div id="boxScore" class="mdl-cell mdl-cell--6-col-tablet mdl-cell--10-col-desktop mdl-cell--stretch">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          {%for metaTeam in boxScore['meta']['teams'] %}
          {%if table['headerColor']|string() == metaTeam['color'] %}
          <th id="table_title" colspan="{{ table['id'] }}">{{ metaTeam['shortName'] }} {{ table['header'][0]['display'] }}</th>
          {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <td>Player Name</td>
          {%for header in table['header'] %}
          <td>{{ header['display'] }}</td>
          {%endfor%}
        </tr>
      </thead>
      <tbody>
        {%for data in table['data'] %}
        <tr>
        {%for row in data['row'] %}
          <td>{{ row['display'] }}</td>
        {%endfor%}
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  {%endfor%}
</div>
{% endblock %}
