{% extends "sport.html" %}
{% block sportBody %}
<div>
  <div class="container">
  <h1>{{ boxScore['meta']['description'] }}</h1>

  <div class="container">
    {%for team in boxScore['teams'] %}
    <h3>{{ boxScore['meta']['teams'][loop.index-1]['shortName'] }}</h3>
    <table id="boxScore" style="width:100%">
      <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              {%for colHeader in team['playerHeader'] %}
              <th>{{ team['playerHeader'][colHeader] }}</th>
              {%endfor%}
          </tr>
      </thead>
      <tbody>
        {%for playerStats in team['playerStats'] %}
        <tr>
          <td>{{ playerStats['firstName'] }}</td>
          <td>{{ playerStats['lastName'] }}</td>
          {%for colHeader in team['playerHeader'] %}
          <td>{{ playerStats[colHeader] }} </td>
          {%endfor%}
        </tr>
        {%endfor%}
      </tbody>
    </table>
    {%endfor%}
  </div>
</div>
{% endblock %}
