{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}

<div>
  <h1>Flynn Labs</h1>
  
  <div id='welcome'>
    <p>Welcome to Flynn Labs!</p>
    <p></p>
    <p>Eventually I'd like to fill in each of the tabs you see above, however right now I am mainly working on the College Sports piece of it. Click through the links and test it out for yourself. Also, if you're interested in seeing the source code head over to my github page linked below.</p>
    
</div>
{% endblock %}
