{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<style>
.demo-card-wide.mdl-card {
  width: 512px;
  align-items: center;
  justify-content: center;
}
.demo-card-wide > .mdl-card__title {
  height: 176px;
}
</style>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl=card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Hope you enjoy your time here and find something useful! This site is just a hobby, so apologies if you find something broken or missing.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Get Started
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div> 
</div>
{% endblock %}
