{% extends "sports.html" %}
{% block title %}{{ level }}{% endblock %}
{% block sportsBody %}
<div>
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      {% for sport in sports %}
      {% if loop.index|int() == 1 %}
      <a href="{{ level }}/{{ sport }}/{{ divisions[level][sport][0] }}" class="mdl-tabs__tab is-active">{{ sports[sport] }}</a>
      {% else %}
      <a href="{{ level }}/{{ sport }}/{{ divisions[level][sport][0] }}" class="mdl-tabs__tab">{{ sports[sport] }}</a>
      {% endif %}
      {% endfor %}
    </div>
    {% for sport in sports %}
    {% if loop.index|int() == 1 %}
    <div class="mdl-tabs__panel is-active" id="{{ sport }}">
    {% else %}
    <div class="mdl-tabs__panel" id="{{ sport }}">
    {% endif %}
      {% block sportBody %}{% endblock %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
