{% extends "base.html" %}
{% block title %}{{ gameTitle }}{% endblock %}
{% block body %}
<div>
  <h1>{{ gameTitle }}</h1>

  <div class="container">
    <input type="text" id="searchInput" onkeyup="searchTable()" plaseholder="Search...">
    <table id="scoreboard" style="width:100%">
      <thead>
          <tr>
              <th>{{ boxScore['meta']['teams'][0]['shortName'] }}</th>
              <th>{{ boxScore['meta']['teams'][1]['shortName'] }}</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ boxScore['teams'][0]['playerTotals']['points'] }}</td>
          <td>{{ boxScore['teams'][1]['playerTotals']['points'] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
