{% extends "base.html" %}
{% block title %}Sports{% endblock %}
{% block body %}
<style>
  #baseNav .{{ baseTopic }} {
    background-color: #f1f1f1;
  }
</style>

<div>
  <h2>Sports</h2>
  <div class="container">
    <div class="header clearfix">
     <nav id="sports">
       <ul class="nav nav-pills pull-left">
         {%for level in levels %}
         <li class="{{ level }}" role="presentation"><a href="/sports/{{ level }}">{{ levels[level] }}</a></li>
         {%endfor%}
       </ul>
     </nav>
    </div>
  </div>
  {% block sportsBody %} {% endblock%}
</div>
{% endblock %}
