{% extends "level.html" %}

{% block levelBody %}
<div>
  <table id="todays_games" style="width:100%" class=>
    <thead>
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Game Status</th>
        </tr>
    </thead>
    <tbody>
      {% for game in scoreboard['games'] %}
      <tr data-href="{{ divisions[ sport ][0] }}{{ game['game']['url'] }}">
        <td>{{ game['game']['home']['rank'] }} {{ game['game']['home']['names']['short'] }} {{ game['game']['home']['description'] }}</td>
        <td>{{ game['game']['away']['rank'] }} {{ game['game']['away']['names']['short'] }} {{ game['game']['away']['description'] }}</td>
        {% if game['game']['gameState'] == 'pre' %}
          <td>{{ game['game']['startTime'] }}</td>
        {% elif game['game']['gameState'] == 'live' %}
          <td>{{ game['game']['home']['score'] }} to {{ game['game']['away']['score'] }} [LIVE]</td>
        {% elif game['game']['gameState'] == 'final' %}
          <td>{{ game['game']['home']['score'] }} to {{ game['game']['away']['score'] }} [FINAL]</td>
        {% elif game['game']['gameState'] == 'canceled' %}
          <td>Canceled</td>
        {%endif%}
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Game Status</th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
